body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

#rid {
  color: #14274E;
}

footer {
  text-align: right;
  color: midnightblue;
}

.tile-image {
  height: 200px;
  float: left;
  margin-right: 50px;
}

.logo {
  font-style: italic;
  color: #FF9A00;
}

.card {
width: 45%;
}
.left {
  float: left;
}
.right {
  float: right;
}
.cr {
  color: #0D1282;
}
@media (max-width: 580px) {
  .logo {
    font-size: 2rem;
  }
  h1 {
    font-size: 3.5rem;
  }
  .card {
    width: 100%;
    display: block;
    text-align: justify;
    margin-bottom: 30px;
  }
  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}
@media (min-width: 680px) and (max-width: 1100px) {
  .tile-image {
    margin-right: 20px;
  }
  p {
    font-size: 1rem;
  } 
  .card {
    width: 50%;
  }
}
